$widget-background-1: rgba(72, 72, 72, 0.4);
$widget-background-2: rgba(0, 0, 0, 0.1);
$modal-background: rgba(0, 0, 0, 0.9);
$widget-broder: rgba(140, 140, 140, 0.3);

$text-main: #fff;
$text-body: rgb(255 254 254 / 68%);
